:root{
	--background-color: rgba(7, 107, 107, 0.647);
	--background-colorGradiant: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(0,130,201,0.6) 0%, rgba(37,171,243,0.2) 100%);;
	--fontColor: rgb(1, 39, 30);
	--fontColorLink :rgb(1, 71, 55);
	--border :rgb(0, 0, 0);
}

body{
	background: var(--background-colorGradiant);
	color: var(--fontColor);

}
#Page{
	margin-left: auto;
    margin-right: auto;
	min-height: 10em;
    display: table-cell;
    vertical-align: middle
}

table{
	margin-top: 50px;
	border: 1px solid var(--border);
}



