<tr style="height: 61px">
  <td style="width: 107px; height: 61px">
    <p><InterventionStart></InterventionStart></p>
  </td>

  <td style="width: 107.667px; height: 61px">
    <p><InterventionFinish></InterventionFinish></p>
  </td>

  <td style="width: 286.333px; height: 61px">
    <InterventionRemark></InterventionRemark>
  </td>

  <td style="width: 95px; height: 61px">
    <p>
      <InterventionPoint></InterventionPoint>
      <InterventionIsGift></InterventionIsGift>
    </p>
  </td>
</tr>
