<table style="height: 99px; width: 787px">
        <tbody>
          <tr style="height: 41px">
            <td style="width: 139.8px; height: 73.35px" rowspan="2">
              <img
                src="https://www.makeitsimple.be/application/files/7616/5088/6325/2022-04-25_13-31.png"
                alt=""
                width="100"
                height="103"
              />
            </td>

            <td style="width: 629.2px; height: 41px" colspan="2">
              <h2>
                Creapix / makeITsimple &ndash; D&eacute;tails du carnet &agrave;
                points
              </h2>

              <h4>&nbsp;</h4>
            </td>
          </tr>

          <tr style="height: 32.35px">
            <BookletDetailsPattern></BookletDetailsPattern>
          </tr>
        </tbody>
      </table>

      <h2>&nbsp;</h2>

      <h2>D&eacute;tail du carnet:</h2>

      <table style="border-color: #3366ff; border: 1">
        <caption>
          &nbsp;
        </caption>

        <tbody style="margin-right: 30px">
          <tr
            style="
              height: 57px;
              border-color: #3366ff;
              background-color: #3366ff;
            "
          >
            <td style="width: 15%; height: 57px">
              <strong
                ><span style="background-color: #3366ff; color: #ffffff"
                  >Date d&eacute;but</span
                ></strong
              >
            </td>

            <td style="width: 15%; height: 57px">
              <strong
                ><span style="background-color: #3366ff; color: #ffffff"
                  >Date fin</span
                ></strong
              >
            </td>

            <td style="height: 57px">
              <strong
                ><span style="background-color: #3366ff; color: #ffffff"
                  >Commentaire</span
                ></strong
              >
            </td>

            <td style="width: 10%; height: 57px">
              <strong
                ><span style="background-color: #3366ff; color: #ffffff"
                  >Points</span
                ></strong
              >
            </td>
          </tr>

          <InterventionItemPattern></InterventionItemPattern>
        </tbody>
      </table>

      <p>&nbsp;</p>

      <p>&nbsp;</p>